<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="{% url 'urlprocess' %}" method="post">
        {% csrf_token%}
        <h1>Urls Classifications</h1>
        <input type="text"  name="url_input">
        <button type="submit">Naive Bayes Model</button>
    </form>
    {%if error%}
        <p>Error: {{error}}</p>
    {%endif%}
    

</body>
</html>